In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## 1.) Player Count
* Total number of players

In [6]:
# Use unique() function to get array of unique players, and wrap in length to count them
total_unique_players = len(purchase_data_df['SN'].unique())
total_unique_players_df = pd.DataFrame({"Total Players":[total_unique_players]})
total_unique_players_df

   Total Players
0            576

## 2.) Purchasing Analysis
Calculate the following and load into summary dataframe:
* Number of unique items
* Average purchase price
* Total number of purchases
* Total revenue

In [20]:
# Use unique() function to calculate number of unique items
total_unique_items = len(purchase_data_df['Item ID'].unique())

# Average price 
average_price = purchase_data_df['Price'].mean()

# Total number of purchases
total_number_purchases = len(purchase_data_df.index)

# Total revenue
total_revenue = purchase_data_df['Price'].sum()

# Create dataframe
purchasing_analysis_summary_df = pd.DataFrame({'Number of Unique Items':[total_unique_items],
                                               'Average Price':[average_price],
                                               'Number of Purchases':[total_number_purchases],
                                               'Total Revenue':[total_revenue]})
purchasing_analysis_summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77