In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load
file_to_load = 'Resources/purchase_data.csv'

# Read Purchasing File and store into Pandas data frame
purchase_data_df = pd.read_csv(file_to_load)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## 1.) Player Count
* Total number of players

In [6]:
# Use unique() function to get array of unique players, and wrap in length to count them
total_unique_players = len(purchase_data_df['SN'].unique())
total_unique_players_df = pd.DataFrame({"Total Players":[total_unique_players]})
total_unique_players_df

   Total Players
0            576

## 2.) Purchasing Analysis
Calculate the following and load into summary dataframe:
* Number of unique items
* Average purchase price
* Total number of purchases
* Total revenue

In [22]:
# Use unique() function to calculate number of unique items
total_unique_items = len(purchase_data_df['Item ID'].unique())

# Average price 
average_price = purchase_data_df['Price'].mean()

# Total number of purchases
total_number_purchases = len(purchase_data_df.index)

# Total revenue
total_revenue = purchase_data_df['Price'].sum()

# Create dataframe
purchasing_analysis_summary_df = pd.DataFrame({'Number of Unique Items':[total_unique_items],
                                               'Average Price':[average_price],
                                               'Number of Purchases':[total_number_purchases],
                                               'Total Revenue':[total_revenue]})

# Format Average Price and Total Revenue Values
purchasing_analysis_summary_df['Average Price'] = purchasing_analysis_summary_df['Average Price'].map('${:,.2f}'.format)
purchasing_analysis_summary_df['Total Revenue'] = purchasing_analysis_summary_df['Total Revenue'].map('${:,.2f}'.format)

purchasing_analysis_summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics
* Percentage and count of male players
* Percentage and count of female players
* Percentage and count of other/nondislosed

In [45]:
# Create new dataframe grouped by gender
# NOTE: approach came from https://stackoverflow.com/questions/30530663/how-to-select-distinct-across-multiple-data-frame-columns-in-pandas

# Create new data frame containing SN and gender 
gender_df = purchase_data_df[['SN','Gender']]
# Then use .drop_duplicates() function and load into new dataframe
unique_players_gender_df = gender_df.drop_duplicates()

# Group by gender
unique_players_gender_grouped_df = unique_players_gender_df.groupby(['Gender']).count()
# rename 'SN' column
unique_players_gender_grouped_df.columns = ['Total Count']

# Calculate % of Total
unique_players_gender_grouped_df['Percentage of Players'] = unique_players_gender_grouped_df['Total Count'] / unique_players_gender_grouped_df['Total Count'].sum()

# Reformat % of Total
unique_players_gender_grouped_df['Percentage of Players'] = unique_players_gender_grouped_df['Percentage of Players'].map('{:.2%}'.format)

#Sort descending 
unique_players_gender_grouped_df.sort_values(['Total Count'],ascending=False)

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

## Purchasing Analysis (Gender)
* The below each broken out by gender:
    * Purchase count
    * Average purchase price
    * Total purchase value
    * Average purchase total per person by gender

In [93]:
# Create dataframe with just gender and purchase ID
gender_purchase_df = purchase_data_df[['Gender','Purchase ID','Price']]

# Build separate dataframes to calculate each component of final summary table
# Count Purchase ID by gender
purchase_count_df = gender_purchase_df.groupby('Gender')[['Purchase ID']].count()
# Rename column to Purchase count, as it will be starting point for final dataframe
purchase_count_df.columns = ['Purchase Count']

# Average purchase price by gender
avg_purchase_price_df = gender_purchase_df.groupby('Gender')[['Price']].mean()

# Total purchase value by gender
totaL_purchase_value_df = gender_purchase_df.groupby('Gender')[['Price']].sum()

# Average purchase price per person
# Utilize sum from unique_players_gender_grouped_df from above
avg_price_per_person_df = gender_purchase_df.groupby('Gender')[['Price']].sum()
avg_price_per_person_df['Player Count'] = unique_players_gender_grouped_df['Total Count']
avg_price_per_person_df['Avg Total Purchase per Person'] = avg_price_per_person_df['Price'] / avg_price_per_person_df['Player Count']

# Build final dataframe based off of calculated values
gender_purchase_final_df = purchase_count_df
gender_purchase_final_df['Average Purchase Price'] = avg_purchase_price_df['Price']
gender_purchase_final_df['Total Purchase Value'] = totaL_purchase_value_df['Price']
gender_purchase_final_df['Avg Total Purchase per Person'] = avg_price_per_person_df['Avg Total Purchase per Person']

# Format values
gender_purchase_final_df['Average Purchase Price'] = gender_purchase_final_df['Average Purchase Price'].map('${:,.2f}'.format)
gender_purchase_final_df['Total Purchase Value'] = gender_purchase_final_df['Total Purchase Value'].map('${:,.2f}'.format)
gender_purchase_final_df['Avg Total Purchase per Person'] = gender_purchase_final_df['Avg Total Purchase per Person'].map('${:,.2f}'.format)

gender_purchase_final_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56